@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navBar {
  display: flex;
  justify-content: space-between;
}
.imgFooter {
  width: 100vw;
  height: auto;
}
/* indexLayaout */
.indexLayaout {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

}
.indexLayaout > h1 {
  background-color: black;
  height: 50px;
  width: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexLayaout > h3 {
  text-align: center;
}

.indexLayaout > button {
  text-align: center;
  color: white;
  background-color: black;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 14px;
}

/* formAnnoimouseUSer */
.formAnnoimouseUSer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 400px;
  margin-top: 50px;
}

.formAnnoimouseUSer > div {
  display: flex;
  flex-direction: column;
}
.formAnnoimouseUSer > div > label {
  font-size: 14px;
  margin-bottom: 10px;
}
.formAnnoimouseUSer > div > input {
  width: 300px;
  border: none;
  border-bottom: 1px solid;
  font-family:'Josefin Sans', sans-serif;
  margin-bottom: 5px;
}
.buttonDisable {
  text-align: center;
  color: white;
  background-color: black;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 14px;
}
.buttonPass {
  text-align: center;
  color: white;
  background-color: #757373;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 14px;
}

/* FormCreedTest */

.formCreedTest {
  height: 70vh;
  overflow: scroll;
}
.buttonFinished {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/* Results */
.results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}
.results > ul {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.resultCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultCards > h3, h5{
  text-align: center;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
